aaa new-model
!
{% for server in tacacs_servers %}
tacacs server {{ server['name'] }}
address ipv4 {{ server['server'] }}
key {{ server['key'] }}
{% endfor %}

aaa group server tacacs+ {{ tacacs_group }}
{% for server in tacacs_servers %}
server name {{ server['name'] }}
{% endfor %}

aaa authentication login default group {{ tacacs_group }} local
aaa authentication login console local
no aaa authentication enable default
aaa authorization exec default group {{ tacacs_group }} local if-authenticated
aaa authorization config-commands
aaa authorization commands 0 default group {{ tacacs_group }} local if-authenticated
aaa authorization commands 1 default group {{ tacacs_group }} local if-authenticated
aaa authorization commands 15 default group {{ tacacs_group }} local if-authenticated

aaa accounting exec default start-stop group {{ tacacs_group }}
aaa accounting commands 1 default start-stop group {{ tacacs_group }}
aaa accounting commands 15 default start-stop group {{ tacacs_group }}

line con 0
login authentication console
line vty 0 4
transport input ssh
